<mat-card>
    <h1>ADD A TODO</h1>
    <form #todoform="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field style="width: 400px;">
            <textarea 
                matInput placeholder="To TODO"
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="1"  
                required #spy   
                #temp = "ngModel"                      
            >
            </textarea>   
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                todo is required
            </mat-error>         
         </mat-form-field>  
                        
        <div >
            <button mat-raised-button color="primary" [disabled]="!todoform.form.valid">ADD</button>
        </div>
      </div>
    </form>
    </mat-card>


    
 
 