<div class = "aaa" >
  <button mat-raised-button color="primary" (click)="addtodo()">ADD A TODO</button>
</div>
<div *ngIf = "!(todos$ | async)">Loading...</div>

  <mat-list role="list" *ngFor="let todos of todos$ | async">
    <mat-list-item role="listitem">
      <h2>{{todos.todo}}   </h2><br> 
      <div class = "bbb" >
          <button mat-raised-button [disabled]="todos.vi" (click)="editvi(todos.id)">done</button>
        </div>
    </mat-list-item>
  
  </mat-list>