<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="mathematics">
      <th mat-header-cell *matHeaderCellDef> mathematics </th>
      <td mat-cell *matCellDef="let element"> {{element.mathematics}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="psychometric">
      <th mat-header-cell *matHeaderCellDef> psychometric </th>
      <td mat-cell *matCellDef="let element"> {{element.psychometric}} </td>
    </ng-container>

    <!-- tuition_pay Column -->
    <ng-container matColumnDef="tuition_pay">
      <th mat-header-cell *matHeaderCellDef> tuition_pay </th>
      <td mat-cell *matCellDef="let element"> {{element.tuition_pay}} </td>
    </ng-container>

    <!-- fail Column -->
    <ng-container matColumnDef="fail">
      <th mat-header-cell *matHeaderCellDef> fail </th>
      <td mat-cell *matCellDef="let element"> {{element.fail}} </td>
    </ng-container>

     <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="warn" (click)="delete(element.id)" style="margin-left: 10px; " >
          <mat-icon >delete</mat-icon>
        </button>
      </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  